<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créditos y Agradecimientos</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Créditos y Agradecimientos</h1>
  </header>

  <main>
    <section class="creditos">
      <h2>Desarrolladores</h2>
      <ul>
        <li><strong>M. en I. Valente Vázquez Velázquez</strong> - Estudiante de doctorado</li>
        <li><strong>Candy Elizabeth García Zárate </strong> - Estudiante de Servicio Social</li>
        <li><strong>Dr. Víctor M. Lomas Barrié</strong> - Responsable del proyecto</li>
      </ul>
    </section>

    <section class="agradecimientos">
      <h2>Agradecimientos</h2>
      <p>
        Investigación realizada gracias al Programa <strong>UNAM-PAPIIT TA101523</strong>, y también a:
      </p>
      <ul>
        <li><strong>IIMAS, LEAI 4.0</strong>
        <li><strong>INIFAP, Mocochá, Mérida</strong>
      </ul>
    </section>

    <section class="contacto">
      <h2>Contacto</h2>
      <p>
        Si tienes alguna pregunta o comentario, no dudes en contactarnos:
      </p>
      <ul>
        <li><strong>Email:</strong>victor.lomas@iimas.unam.mx</li>
        <li><strong>Teléfono:</strong>+52 55 5622 3568</li>
        <li><strong>Teléfono dentro de la UNAM:</strong> 23568</li>
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2025. Sistema de detección automática de plagas en cítricos para el alertamiento temprano. Todos los derechos reservados.</p>
  </footer>
</body>
</html>